/* ----------------------------------------------------------------- buttons  */

.btn {
  background-color: @color-white;
  border: @border;
  border-radius: @border-radius;
  color: @color-text;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  height: auto;
  margin: calc(@spacer * 0.5) 0;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  transition: @transition;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: darken(@color-white, 5%);
  }

  &.btn-block {
    display: block;
    width: 100%;
  }
}

.btn-group {
  display: flex;

  .btn {
    border-radius: 0;
    border-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .btn:first-child {
    border-top-left-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
  }

  .btn:last-child {
    border-right: @border;
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
  }
}
