@navigation-height: 50px;
@navigation-anchor-offset: 50px;

.navigation {
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--shadow);
    z-index: 10;
}

.navigation-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: @navigation-height;
}

.navigation-item {
    display: inline-block;
    margin-left: var(--spacer);
    transition: var(--transition);
    border-bottom: var(--border-width) solid transparent;

    &.active {
        border-bottom: var(--border-width) solid var(--color-border);
    }
}

.navigation-anchor {
    position: relative;
    top: -@navigation-height - @navigation-anchor-offset;
}

