.navigation {
  background-color: @color-white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navigation-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: @navigation-height;
}

.navigation-item {
  display: inline-block;
  margin-left: @spacer;
  transition: @transition;
  position: relative;

  a {
    text-decoration: none;
  }

  &:hover {
    border-bottom: @border;
  }

  &.active {
    border-bottom: @border;
  }
}

.navigation-anchor {
  position: relative;
  top: -@navigation-height - @navigation-anchor-offset;
}

