/* --------------------------------------------------------------------- grid */

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@spacer: 15px;
@grid-gap: @spacer * 0.5;
@container-max-with: 1300px;

/* ------------------------------------------------------------------- colors */

@color-white: #fefefe;
@color-black: #35495e;

@color-white: #408ABF;
@color-black: #fefefe;

//@color-white: #35495e;
//@color-black: #fefefe;

@color-text: @color-black;
@color-headlines: @color-black;
@color-border: @color-black;

/* --------------------------------------------------------------- navigation */

@navigation-height: 50px;
@navigation-anchor-offset: 50px;

/* ------------------------------------------------------------------- global */

@border-radius: 3px;
@border: 1px solid @color-black;
@transition: all 0.1s ease;

