:root {
  --shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.05);
  --spacer: 15px;
  --border-radius: 3px;
  --border-width: 1px;
  --border-color: #ccc;
  --transition: all 0.1s ease;
}

:root {
  --color-background: #fefefe;
  --color-text: #555;
  --color-headlines: #000;
  --color-border: #e6e6e6;
  --color-primary: #41B883;
  --color-success: #41B883;
  --color-warning: #ffbf24;
  --color-danger: #ff2f7e;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333;
    --color-text: #eee;
    --color-headlines: #fff;
    --color-border: #e6e6e6;
    --color-primary: #41B883;
    --color-success: #41B883;
    --color-warning: #ffbf24;
    --color-danger: #ff2f7e;
  }
}
