.jedi-error-message {
  color: #c01e1e;
}

[data-path] {
  background-color: #fff;
  border: 1px solid #183691;
  padding: 5px;
  margin: 5px;
}

[data-type="object"] {
  background-color: #eee;
}

[data-type="array"] {
  background-color: #eef;
}
