@import "./wireframe";

.jedi-multiple-select {
  display: inline-block;
  width: auto;
}

pre,
[data-type="multiple"],
[data-type="object"],
[data-type="arrays"] {
  .card;
}

*:last-child {
  margin-bottom: 0;
}
