[data-type="object"],
[data-type="array"],
[data-type="multiple"] {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacer);
  margin-top: var(--spacer);
}

.jedi-error-message {
  text-align: left;
  color: var(--color-danger);
  margin-top: 0;
}
