$primary: #d63384;
$primary: #333;
//$btn-color: #fff;
//$spacer: 2em;
//$border-radius: 0;
//$grid-gutter-width: 60px;
//$bg-transition-height: 150px;
//$font-family-sans-serif: "Roboto-Regular";
$code-color: $primary;
