/* ----------------------------------------------------------------- buttons  */

.button {
  background-color: var(--color-background);
  border: var(--border-width) solid var(--color-foreground);
  border-radius: var(--border-radius);
  color: var(--color-foreground);
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  height: auto;
  margin: calc(var(--spacer) * 0.5) 0;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  transition: var(--transition);

  &:hover {
    background-color: var(--color-foreground);
    color: var(--color-background);
  }
}

.button-group {
  display: flex;

  .button {
    border-radius: 0;
    border-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .button:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .button:last-child {
    border-right: var(--border-width) solid var(--color-foreground);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  .button;
}
