.teaser {
  width: 100%;
  text-align: center;
  margin: calc(var(--spacer) * 0.5) 0;
  border: var(--border-width) solid var(--color-foreground);
  border-radius: var(--border-radius);
  padding: var(--spacer) var(--spacer) 0 var(--spacer);

  @media (min-width: 800px) {
    width: calc(33.33% - var(--spacer));
  }
}

.teaser-name {}

.teaser-img {
  background-image: url("../../images/js.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin: calc(var(--spacer) * 0.5) 0;
}

.teaser-description {
  margin: calc(var(--spacer) * 0.5) 0;
}

.teaser-button {
  .button;
}
