* {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
}

p {
  margin-top: var(--spacer);
  color: var(--color-foreground);
}

a {
  color: var(--color-foreground);
}

h1 {
  color: var(--color-foreground);
  font-size: 40px;
  margin-top: var(--spacer);
  text-transform: uppercase;
}

h2 {
  color: var(--color-foreground);
  font-size: 32px;
  margin-top: var(--spacer);
  text-transform: uppercase;
}

h3 {
  color: var(--color-foreground);
  margin-top: var(--spacer);
}

h4 {
  color: var(--color-foreground);
  margin-top: var(--spacer);
}

h5 {
  color: var(--color-foreground);
  margin-top: var(--spacer);
}

h6 {
  color: var(--color-foreground);
  margin-top: var(--spacer);
}
